<router-outlet></router-outlet>  <!-- indica que vai ser guiada pelo arquivo de rotas -->

<!-- <h1>Lista de Produtos</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Preço</th>
    <th>Operação</th>
  </tr>
  <tr *ngFor="let produto of lista_produtos; let i = index">  
    <td>{{produto.getNome()}}</td>    
    <td>{{produto.getPreco()}}</td>
    <td>
      <button (click)="excluir(i)">Excluir</button>
      <button (click)="editar(i)">Editar</button>
    </td>
  </tr>
</table>


<hr>
<hr>



<ng-template #editarProduto>     



<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form> -->